body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin:0;
    padding:0;
}
body{
    font:15px "黑体","Arial Narrow",HELVETICA;
    background:#fff;
    -webkit-text-size-adjust:100%;
} 
a{
    color:#2d374b;
    text-decoration:none;
} 
a:hover{
    color:#cd0200;
}
em{
    font-style:normal;
} 
li{
    list-style:none;
} 
img{
    border:0;vertical-align:middle;
} 
table{
    border-collapse:collapse;
    border-spacing:0;
} 
p{
    word-wrap:break-word;
}
.header{
    height: 35px;
    background: rgb(224,245,245);
    line-height: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12);
    color: #ffffff;
    padding: 15px;      
}       
.nav{
    line-height: 35px;
}
.nav li{
    float: left; 
    margin: 0 15px;  	
}
.nav li a{
    display: block;
    width: 100%;
    height: 100%;
}
.nav li a:hover{
    margin: 0 15px;
    color: #fff;
    background:rgb(136,217,217);
    text-align: center;
}
.nav li div{
    border: 2px rgb(136,217,217) solid;
    padding: 6px;
    background: rgb(224,245,245);
    width: 43px;
    height: 43px
}
img{
    width: 100%;
    height: 100%;  
}
.nav li img:hover {
    width: 125%;
    height: 125%; 
}
.Login{
    width: 50%;
    background: #87CEFA;
    margin: 15% auto;
    text-align: center;
}
.Login ul{
    font-size: 0;
}
.Login li{
    width: 50%;
    font-size: 15px;
    display: inline-block;
    background: #1a8cff;
    padding: 15px 0;
}
.Login li:first-of-type{
    background: #0073e6;
}
form{
    display: block;
}
.entry{
    display: none;
}
input{
    width: 30%;
    margin-top: 15px;
}
p{
    padding-bottom: 15px;
}
.register-menu,.entry-menu{
    margin-bottom: 15px;
    background: #48D1CC;
    padding: 5px 0;
    width: 15%;
}
.footer{
    width: 100%;
    height: 45px;
    background: rgb(224,245,245);
    text-align: center;
    line-height: 45px;
    position:fixed;
    bottom: 0px;
    z-index:999;
}
@media (max-width: 480px) {
    body{
        font-size: 13px;
    }
    .header{
        min-height: 57px;
    }
    .header:before{
        padding-bottom: 18%;
    }
    .nav{line-height: 450%}
    .nav li{
        margin: 0 5%;
    }
    .nav li a:hover{
        margin: 0;
        color: #2d374b;
        background: rgb(224,245,245);
        text-align: center;
    }
    .nav li div{
        display: none;
    }   
}    
/*横屏手机*/
@media(min-width: 481px) and (max-height: 480px){
    body{
        font-size: 13px;
    }
    .header:before{
        padding-bottom: 6.8%;
    }
    .nav li a:hover{
        margin: 0;
        color: #2d374b;
        background: rgb(136,217,217);
        text-align: center;
    }
}
/*平板电脑*/
@media (min-width: 481px){
    .header:before{
        padding-bottom: 3.8%;
    }
}    
/*较大的显示屏*/
@media (min-width: 1200px) {
    .header:before{
        padding-bottom: 2.3%;
    }
}